.btnNext:hover {
    border-color: rgb(233, 64, 87);
    background-image: linear-gradient(136deg, rgb(242, 113, 33) 0%, rgb(233, 64, 87) 50%, rgb(138, 35, 135) 100%);
}

@keyframes pop {
    50% {
        transform: scale(1.2);
    }
}